.iogurte {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  h1 {
    text-align: center; /* centraliza o texto */
    font-size: 3rem; /* tamanho da fonte */
    font-weight: bold; /* define a espessura da fonte como negrito */
    font-family: "Helvetica Neue", sans-serif; /* define a família da fonte */
    color: #333; /* define a cor do texto */
    text-transform: uppercase; /* transforma todo o texto em maiúsculo */
    letter-spacing: 0.1em; /* define o espaçamento entre as letras */
    line-height: 1.2; /* define a altura da linha para melhor legibilidade */
  }

  h2 {
    font-size: 2.5rem; /* tamanho da fonte */
    font-weight: bold; /* define a espessura da fonte como negrito */
    font-family: "Open Sans", sans-serif; /* define a família da fonte */
    color: #333; /* define a cor do texto */
    margin-left: 0; /* remove a margem padrão do elemento */
    padding-left: 0; /* remove o preenchimento padrão do elemento */
    border-left: 4px solid #e67e22; /* adiciona uma borda esquerda laranja */
    line-height: 1.2; /* define a altura da linha para melhor legibilidade */
  }

h3{
    text-align: center;
}

h5 {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 50px;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h6 {
    border: 2px solid #333;
    align-items: center;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: transparent;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display:flex;
    justify-content: center;
  }

  .back-to-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    text-align: center;
    right: 20px;
    z-index: 9999; /* colocar acima de outros elementos */
    background-color: #222; /* cor de fundo do botão */
    color: #fff; /* cor do texto */
    font-size: 16px; /* tamanho da fonte */
    line-height: 1.5; /* altura da linha */
    padding: 10px 20px; /* preenchimento interno */
    margin-bottom: 10px;
    border-radius: 5px; /* bordas arredondadas */
    border: none; /* remover a borda */
    cursor: pointer; /* alterar o cursor do mouse */
    transition: opacity 0.3s ease-in-out; /* animação de transição de opacidade */
  }
  
  /* Estilos para o botão de voltar ao início da página quando o mouse está em cima */
  .back-to-top:hover {
    background-color: #444; /* cor de fundo do botão ao passar o mouse */
  }
  
  /* Estilos para exibir o botão de voltar ao início da página quando a página é rolada para baixo */
  @media (min-width: 768px) {
    .back-to-top.show {
      display: block;
      opacity: 0.8; /* opacidade do botão */
    }
  }